<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budin marmolado</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Receta de Budin marmolado</h1>
    <img src="../img/descarga (1).jpeg" alt="budin marmolado" width="500" height="250">
    <p>
        Este riquísimo budín , nació en Alemania, como una forma de aprovechar los ingredientes, cuando se hacían preparaciones de chocolate o vainilla!
        Es un budín delicioso...en cada bocado el sabor intenso del chocolate, se une con la dulzura de la vainilla!
        Esa mezcla de sabores y colores, que dibujan el intenso marmolado, siempre nos ha enamorado y de chica les aseguro era mi preferido.
        Una receta para guardar y tener a mano
    </p>
    <hr>
    <h2>ingredientes:</h2>
    <ul>
        <li>10 gr cacao amargo</li>
        <li>125 gr manteca</li>
        <li>125 gr queso crema</li>
        <li>150 gr azúcar</li>
        <li>25 gr miel</li>
        <li>2 huevos grandes, (130 gr de huevo, podes batir y después pesar y si falta agregas un poco de otro batido)</li>
        <li>135 gr harina 0000</li>
        <li>45 gr almidón de maíz</li>
        <li>10 gr polvo para hornear o dos cucharitas llenas</li>
        <li>60 gr chocolate cobertura semi amargo</li>
        <li>ralladura de naranja o limón o esencia de vainilla para la parte de vainilla</li>
        <li>agua</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol>
        <li>
            Batir la manteca y azúcar hasta que la veamos cremosa y blanca, agregar 
            el queso crema y la miel.Mezclar. Agregar los huevos de a uno, batiendo 
            después de cada uno.
        </li>
        <li>Tamizar la harina, polvo de hornear y almidón de maíz</li>
        <li>Incorporar a la mezcla en dos o tres</li>
        <li>Separar en dos la mezcla, poniendo en bols diferentes</li>
        <li>Incorpora el cacao a una de las partes</li>
        <li>A la otra parte la ralladura de naranja o limón o esencia de vainilla </li>
        <li>Distribuir en el molde intercalando las mezclas.</li>
        <li>Llevar al horno a 180 grados por unos 40 minutos, controla que al introducir el palillo sale seco.</li>
    </ol>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/oyPwCq9kJq0" title="BUDIN MARMOLADO | MATIAS CHAVERO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <a href="https://www.youtube.com/watch?v=oyPwCq9kJq0" target="_blank">
        <strong>Video</strong> de una receta de Budin marmolado
    </a> <br>
    <a href="receta1.html">
        Receta de pizza
    </a> <br>
    <a href="../../index.html">
        <strong>Volver al inicio</strong>
    </a>
</body>
</html>